[submodule "tests/WebAuthn_forge/lib/forge-std"]
	path = tests/WebAuthn_forge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tests/WebAuthn_forge/lib/openzeppelin-contracts"]
	path = tests/WebAuthn_forge/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
